<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BankAccountMultiuserEntities" connectionString="metadata=res://*/4InfrastructureData.DbModel.Model1.csdl|res://*/4InfrastructureData.DbModel.Model1.ssdl|res://*/4InfrastructureData.DbModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1FKJ124;initial catalog=BankAccountMultiuser;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>